* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Mellos";
  src: url("assets/fonts/Mellos.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-inline: auto;
  background-image: url("./assets/images/coffee_shop.jpg");
  background-size: cover;
}

#nav {
  flex: 1;
  align-content: center;

  display: flex;
  gap: 24px;
}

#content {
  flex: 2 0 80%;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.7rem;
  align-content: center;
  text-align: center;
  max-width: 1200px;
}

#content h1 {
  font-family: "Mellos", sans-serif;
  padding: 1.2rem;
}

.nav-btn {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 800;
  background: none;
  border: none;
  font-size: 1.2rem;
  color: hsl(0, 0%, 96%);
  cursor: pointer;
}

.nav-btn:hover {
  color: hsl(0, 0%, 86%);
}

.menu {
  background-color: black;
}

.menu ul {
  display: flex;
  gap: 12px;
  list-style-type: none;
  padding-inline: 12px;
  font-family: inherit;
}

.menu ul p {
  font-size: 1.2rem;
}

.menu-item-one,
.menu-item-two,
.menu-item-three {
  width: 100%;
  border-radius: 12px;
  padding: 0.4rem;
}

.about {
  display: flex;
  align-items: center;
}

.about div {
  flex: 0 1 600px;
}

.about img {
  flex: 0 1 auto;
  width: auto;
  height: 600px;
  border-radius: 12px;
}

.about p {
  font-size: 1.2rem;
}
